# Python Requirements 

# You can install all of these requirements with the following shell command
#   python -m pip install -r requirements.txt

chardet ~= 5.2
grpcio-tools ~= 1.62
IPython ~= 8.23
msgpack ~= 1.0
PyYAML ~= 6.0

# You will also need the protoc compiler from
# https://developers.google.com/protocol-buffers/docs/downloads
